* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #fefefe;
  font-family: "montserrat", sans-serif;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* ----------------------------------------------------- Header -------------------------------------------- */
header {
  grid-area: header;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  height: 71px;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 1003;
  width: 100%;
  position: relative;
}

.logo {
  width: fit-content;
  cursor: pointer;
}

.search {
  width: 35%;
  position: relative;
}

#bar {
  width: 93.5%;
  height: 2rem;
  background-color: whitesmoke;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 10px 0 10px;
  font-weight: 500;
  border-radius: 3px 0 0 3px;
}

.search i {
  height: 2rem;
  padding: 8px 8px 11px 8px;
  color: white;
  background-color: black;
  cursor: pointer;
  width: fit-content;
  position: absolute;
  border-radius: 0 3px 3px 0;
}

.menu {
  width: fit-content;
  font-family: "roboto";
}

nav ul li a {
  color: black;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px 20px 20px 20px;
}

ul li .active {
  border-bottom: solid black;
  border-radius: 3px;
}

ul li a:hover {
  border-bottom: solid black;
  border-radius: 3px;
  transition: 0.2s;
}

.hamburger {
  background-color: transparent;
  font-size: 1.8rem;
  color: black;
  border: 0;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

/* ----------------------------------------------------- Main -------------------------------------------- */
main {
  grid-area: main;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: 100vh;
  margin: auto;
  font-family: "roboto";
  color: #000;
}

.alert {
  width: 100%;
}

.danger {
  background-color: rgb(255 124 124);
  color: red;
  border: solid 1px red;
  padding: 20px;
  transition: 2s;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  background-color: white;
  margin-top: 1.3rem;
}

.loader img {
  height: 140px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 3rem 0rem;
}

.containerTwo {
  display: none;
  flex-direction: column-reverse;
  margin: 0rem 0rem 3rem 0rem;
}

.container img,
.containerTwo img {
  height: 500px;
  width: fit-content;
}

.containerTwoToggle {
  display: flex;
}

.container .content,
.containerTwo .content {
  text-align: center;
  border-bottom: solid 1px gainsboro;
  padding-bottom: 1rem;
}

.container a h2,
.containerTwo a h2 {
  color: #000;
}

.container p,
.containerTwo p {
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.01rem;
  font-size: 1rem;
  width: 60%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: start;
}

h2 {
  display: inline-block;
  font-size: 2.3rem;
  letter-spacing: 0.01rem;
  font-weight: 500;
  margin: 5rem 0 1.5rem 0;
  border-bottom: solid 1.5px lightgrey;
  border-width: 0.2rem;
  border-radius: 3px;
}

h2:hover {
  font-size: 2.35rem;
  border-bottom: solid black;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
}

.fa-user {
  font-size: 0.73rem;
}

main .btn {
  font-family: "roboto";
  width: 20%;
  height: 50px;
  margin-bottom: 3rem;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 1.2rem;
  border: none;
  text-transform: uppercase;
}

main .btn:hover {
  background-color: #333;
}

main .up-btn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: white;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

main .up-btn:hover,
main .up-btn:focus {
  background-color: black;
  color: white;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.container .content img,
.containerTwo .content img {
  width: 70%;
  height: 100%;
}

/* ----------------------------------------------------- Footer -------------------------------------------- */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: black;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1003;
}

.footer-items {
  display: flex;
  font-size: 3rem;
  color: whitesmoke;
  column-gap: 3.5rem;
}

.fa-facebook-f:hover {
  font-size: 3.5rem;
  cursor: pointer;
  transition: 0.3s;
  color: #4267b2;
}
.fa-instagram:hover {
  font-size: 3.5rem;
  cursor: pointer;
  transition: 0.3s;
  color: #e1306c;
}
.fa-spotify:hover {
  font-size: 3.5rem;
  cursor: pointer;
  transition: 0.3s;
  color: #1db954;
}
.fa-twitter:hover {
  font-size: 3.5rem;
  cursor: pointer;
  transition: 0.3s;
  color: #1da1f2;
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 991px) /*Tablet*/ {
  .hamburger {
    display: block;
  }

  .hamburger:active {
    color: grey;
  }

  .search {
    margin-left: 2rem;
    width: 45%;
  }

  .menu {
    position: absolute;
    display: none;
    top: 4.55rem;
    width: 35%;
    height: 181.5px;
    background: white;
    right: 0;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  }

  ul li .active {
    color: white;
    background-color: black;
    border-radius: unset;
  }

  ul li a:hover {
    color: whitesmoke;
    background-color: black;
    border-radius: unset;
  }

  .menu.togglecls {
    display: block;
  }

  ul {
    height: 100%;
  }

  li {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul li a {
    color: black;
    border-bottom: solid black 1px;
    font-size: 17px;
    text-transform: uppercase;
    padding: 12px 0px 12px 0px;
  }

  ul li .active {
    transition: 0s;
  }

  .container img,
  .containerTwo img {
    height: 500px;
    width: 555px;
  }

  main .btn {
    width: 45%;
  }

  main .up-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 30px;
    right: 30px;
  }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) /*Mobile*/ {
  .hamburger {
    display: block;
  }

  .hamburger:active {
    color: grey;
  }

  .search {
    display: none;
  }

  .menu {
    position: absolute;
    display: none;
    top: 4.55rem;
    width: 100%;
    height: 178.7px;
    background: white;
    right: 0;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  }

  ul li .active {
    color: white;
    background-color: black;
  }

  ul li a:hover {
    color: whitesmoke;
    background-color: black;
  }

  .menu.togglecls {
    display: block;
  }

  ul {
    height: 100%;
  }

  li {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul li a {
    color: black;
    border-bottom: none;
    font-size: 17px;
    text-transform: uppercase;
    padding: 12px 0px 12px 0px;
  }

  .loader img {
    height: 100px;
  }

  .container img,
  .containerTwo img {
    height: 350px;
    width: 360px;
  }

  .container p,
  .containerTwo p {
    width: 90%;
  }

  main .btn {
    width: 100%;
  }

  main .up-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 20px;
    right: 10px;
  }

  footer {
    height: 80px;
  }

  .footer-items {
    display: flex;
    font-size: 2rem;
    color: whitesmoke;
    column-gap: 2.5rem;
  }

  .fa-facebook-f:hover {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
    color: #4267b2;
  }
  .fa-instagram:hover {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
    color: #e1306c;
  }
  .fa-spotify:hover {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
    color: #1db954;
  }
  .fa-twitter:hover {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
    color: #1da1f2;
  }
}
